.card-style {
  width: 20%;
  height: 150px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 250ms, opacity 400ms;
  background-color: white;
}
.card-style:hover {
  transform: scale(1.1);
}

.card-image-style {
  margin-top: 30px;
}

.card-section {
  width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .card-style {
    width: 45%;
  }
  .card-section {
    justify-content: space-between;
    margin-bottom: 150px;
  }
}
