.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 90px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.navbar-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "SF Pro Display", sans-serif;
  color: #262626;
}
.navbar-back {
  display: none;
  cursor: not-allowed;
}
.menu-icon-button {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-back {
    display: block;
  }
  .menu-icon-button {
    display: block;
    z-index: 9999;
  }
}
